.identity__content {
  background-color: #342a2166;
  border-radius: 10px;
  border: 0.5px solid rgba(201, 183, 156, 0.10);
  padding: 14px 15px;
  width: 100%;
  height: 400px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

/* Header da section */
.identity__header {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}
.identity__header__section-name {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.08em;
  color: #c9b79c;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.identity__header__profile {
  font-size: 20px;
  font-weight: 500;
  color: #f1e0c5;
  margin-bottom: 5px;
}

/* Footer da section */
.identity__footer {
  margin-top: auto;
  margin-bottom: 5px;
}
.identity__footer__view {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  color: #c9b79c;
  transition: color 0.2s;
}
.identity__footer__view:hover {
  color: #342a21;
}
