.dashboard__content {
  box-sizing: border-box;
  height: calc(100% - 70px);
}

.dashboard__title {
  margin: 0;
  font-size: 100px;
}

.dashboard__wrapper--top {
  padding: 12px 14px;
}
.dashboard__wrapper--middle {
  padding: 12px 14px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 12px;
  max-width: 1440px;
  box-sizing: border-box;
  margin: 0 auto;
}
.dashboard__wrapper--bottom {
  padding: 12px 14px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 12px;
  max-width: 1440px;
  margin: 0 auto;
}
.dashboard__wrapper--blog {
  padding: 12px 14px;
  max-width: 1440px;
  margin: 0 auto;
}
