.dashRecomendation__content {
  background-color: #342a21;
  border-radius: 10px;
  width: 100%;
  height: 400px;
  padding: 14px 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

/* Header da section */
.dashRecomendation__header {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}
.dashRecomendation__header__section-name {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.08em;
  color: #c9b79c;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.dashRecomendation__header__gaps {
  font-size: 20px;
  font-weight: 500;
  color: #f1e0c5;
  margin-bottom: 5px;
}
.dashRecomendation__header__label {
  font-size: 12px;
  font-weight: 400;
  color: #f1e0c5;
  margin-bottom: 5px;
}

/* Containers da section */
.dashRecomendation__box {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.dashRecomendation__category {
  display: flex;
  align-items: center;
  padding: 7px 0;
  border-bottom: 0.5px solid rgba(201, 183, 156, 0.15);
  margin: 4px 0;
}
.dashRecomendation__category__image{
  width: 48px;
  margin-left: 15px;
}
.dashRecomendation__category__texts{
  margin-left: 15px;
}
.dashRecomendation__title {
  font-size: 14px;
  font-weight: 500;
  color: #f1e0c5;
}
.dashRecomendation__description {
  font-size: 12px;
  font-weight: 500;
  color: #c9b79c;
  margin-top: 2px;
  line-height: 1.4;
}
.dashRecomendation__category__cta {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  color: #c9b79c;
  white-space: nowrap;
  transition: color 0.2s;
  margin-right: 15px;
  margin-left: auto;
}
.dashRecomendation__category__cta:hover {
  color: #71816d;
}

/* Footer da section */
.dashRecomendation__footer {
  margin-top: auto;
  margin-bottom: 5px;
}
.dashRecomendation__footer__view {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  color: #c9b79c;
  transition: color 0.2s;
}
.dashRecomendation__footer__view:hover {
  color: #71816d;
}
